services:
  integrity-sentinel:
    build: 
      context: ./IntegritySentinel.Worker
      dockerfile: Dockerfile
    container_name: integrity_sentinel_app
    restart: unless-stopped
    environment:
      - MonitorSettings__TargetPath=/data
      - MonitorSettings__IntervalInSeconds=5
    volumes:
      # Liga a pasta 'monitorada' do Windows na pasta '/data' do Linux
      - ./monitorada:/data
      # Liga a pasta 'logs' para podermos ler os arquivos de texto
      - ./logs:/app/logs